<h1>Edite seu Perfil</h1>

<% if @expertise.blank? %>
  <h3>Cadastre uma área de atuação para continuar</h3>
  <%= link_to 'Cadastrar área de atuação', new_expertise_path %>
<% else %>
  <%= render 'form', dev_profile: @dev_profile %>
<% end %>