<h1>Complete seu Perfil</h1>
<% if @dev_profile.errors.any? %>
  <ul>
    <% @dev_profile.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
<% if @expertise.blank? %>
  <h3>Cadastre uma área de atuação para continuar</h3>
  <%= link_to 'Cadastrar área de atuação', new_expertise_path %>
<% else %>
  <%= render 'form', dev_profile: @dev_profile %>
<% end %>