<h1>Bem vindo ao Dev4Hire</h1>

<% unless dev_signed_in? || user_signed_in? %>
  <p>Bem vindo visitante, faça o login para navegar pelo site</p>
  <nav>
    <%= link_to 'Entrar como Pessoa Desenvolvedora', new_dev_session_path %>
    <span>ou</span>
    <%= link_to 'Entrar como Gerente de Projetos', new_user_session_path %>
  </nav>
<% end %>