<h1><%= t '.welcome' %> Dev4Hire</h1>

<% unless dev_signed_in? || user_signed_in? %>
  <p><%=t '.welcome_message' %></p>
  <nav>
    <%= link_to "#{t 'log_as_dev'}", new_dev_session_path, class:"btn btn-primary" %>
    <span>ou</span>
    <%= link_to "#{t 'log_as_user'}", new_user_session_path, class:"btn btn-primary" %>
  </nav>
<% end %>