<h1>Resultados da busca </h1>

<div>
  <% @projects.each do |p| %>
    <% if p.hire_date_limit > Date.current %>
      <div>
        <p>Título: <%= link_to p.title, p %></p>
        <p>Habilidades desejadas: <%= p.skill_sets %></p>
        <p>Data limite para contratação: <%= l p.hire_date_limit %></p>
        <p>Pagamento máximo (por hora): <%= number_to_currency p.max_payment_per_hour %></p>
      </div>
    <% end %>
  <% end %>
</div>
